body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  font-family: arial;
}
body {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
body .quiz {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 10px rgb(110, 0, 0);
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.2);
    background-color: #50505093;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    width: 20%;
}
.options {
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}
.alternative {
    display: block;
}
.container {
  
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60%;
  padding: 20px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #142b37;
  border-radius: 5px;
}
.button {
  padding: 10px;
  display: inline-block;
}
.wrapper {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: rgb(255, 255, 255);
}
input[type="range"] {
  display: inline-block;
  width: 30%;
  margin-left: 10px;
  margin-top: 25pxxs;
}
nav {
  padding: 10px;
  position: sticky;
  top: 60px;
}

nav ol {
  padding: 10px;
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 15px;
}